---
import Layout from '../layouts/Layout.astro';
import EmojiGenerator from '../components/EmojiGenerator.tsx';
---

<Layout title="Emoji Generator">
  <main class="container mx-auto px-4 py-8">
    <EmojiGenerator client:load />
  </main>
</Layout>
